[Unit]
Description=Heartbeat

After=network-online.target
After=getty@tty2.service
Wants=network-online.target

ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=/usr/local/bin/heartbeat.sh

[Install]
WantedBy=multi-user.target
