[Unit]
Description=Run update service every 1 minutes

[Timer]
OnBootSec=1m
OnUnitInactiveSec=1m
Unit=http-update.service

[Install]
WantedBy=timers.target